<div class="section-features container">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">Why I will Need buy this fucking candle-box?</h2>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="features-box">
                <i class="features-box__icon">Lorem ipsum dolor sit amet</i>
                <p class="features-box__text">Lorem ipsum dolor sit amet</p>
            </div>
        
        </div>
        <div class="col-2">
            <div class="features-box">
                <i class="features-box__icon">icon</i>
                <p class="features-box__text">Lorem ipsum dolor sit amet.</p>
            </div>
        
        </div>

         <div class="col-2">
            <div class="features-box">
                <i class="features-box__icon">Lorem ipsum dolor sit amet.</i>
                <p class="features-box__text">Lorem ipsum dolor sit amet.</p>
            </div>
        
        </div>

         <div class="col-2">
            <div class="features-box">
                <i class="features-box__icon">Lorem ipsum dolor sit amet.</i>
                <p class="features-box__text">Lorem ipsum dolor sit amet</p>
            </div>
        
        </div>

         <div class="col-2">
            <div class="features-box">
                <i class="features-box__icon">Lorem ipsum dolor sit amet</i>
                <p class="features-box__text">Lorem ipsum dolor sit amet</p>
            </div>
        
        </div>
    </div>
</div>
