<div class="section-intro container">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">This perfect candle box bitch</h2>
    </div>
    <div class="row">
        col
    </div>
</div>
