<header class="header">
  <div class="header__container">
    <div class="header__row row">
      <div class="header__logo col-6">
        {% include 'blocks/header/blocks/logo/logo.njk' -%}
      </div>
      <ul class="nav row col-6">
        <li class="nav__item col-3">
          <a href="" class="nav__link">lorem</a></li>
        <li class="nav__item col-3">
          <a href="" class="nav__link">lorem</a></li>
        <li class="nav__item col-3">
          <a href="" class="nav__link">lorem</a></li>
        <li class="nav__item col-3">
          <a href="" class="nav__link">lorem</a></li>
      </ul>
    </div>
    <div class="header__text-box">
      <div class="heading-primary">
        <span class="heading-primary--main">Candle Elo</span>
        <span class="heading-primary--sub">Facin shit page landing maza faka</span>
      </div>
    </div>
  </div>
</header>
