<div class="section-intro container">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">This perfect candle box bitch</h2>
    </div>
    <div class="row">
        <div class="col-12 row">
            <div class="col-6">
                <div class="intro__picture"><img src="" alt="" class="intro__photo"></div>
            </div>
            <div class="col-6">
                <div class="intro__text">
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo accusamus molestias quaerat tempore veritatis architecto aliquid reiciendis nostrum atque, enim distinctio deserunt culpa delectus impedit ut, quibusdam et ea veniam?</p>
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-6">
                <div class="intro__picture"><img src="" alt="" class="intro__photo"></div>
            </div>
            <div class="col-6">
                <div class="intro__text">
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo accusamus molestias quaerat tempore veritatis architecto aliquid reiciendis nostrum atque, enim distinctio deserunt culpa delectus impedit ut, quibusdam et ea veniam?</p>
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-6">
                <div class="intro__picture"><img src="" alt="" class="intro__photo"></div>
            </div>
            <div class="col-6">
                <div class="intro__text">
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo accusamus molestias quaerat tempore veritatis architecto aliquid reiciendis nostrum atque, enim distinctio deserunt culpa delectus impedit ut, quibusdam et ea veniam?</p>
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-6">
                <div class="intro__picture"><img src="" alt="" class="intro__photo"></div>
            </div>
            <div class="col-6">
                <div class="intro__text">
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo accusamus molestias quaerat tempore veritatis architecto aliquid reiciendis nostrum atque, enim distinctio deserunt culpa delectus impedit ut, quibusdam et ea veniam?</p>
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-6">
                <div class="intro__picture"><img src="" alt="" class="intro__photo"></div>
            </div>
            <div class="col-6">
                <div class="intro__text">
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo accusamus molestias quaerat tempore veritatis architecto aliquid reiciendis nostrum atque, enim distinctio deserunt culpa delectus impedit ut, quibusdam et ea veniam?</p>
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-6">
                <div class="intro__picture"><img src="" alt="" class="intro__photo"></div>
            </div>
            <div class="col-6">
                <div class="intro__text">
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo accusamus molestias quaerat tempore veritatis architecto aliquid reiciendis nostrum atque, enim distinctio deserunt culpa delectus impedit ut, quibusdam et ea veniam?</p>
                </div>
            </div>
        </div>
    </div>
</div>
